.card {
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  height: 40vh;
  border: 0.1rem solid var(--primary);
  border-radius: 10px;
  margin-left: 0.4rem;
}

.card-icon, img {
  width: 7rem;
  height: 7rem;
}

.day {
  font-weight: 600;
}

.temp {
  font-weight: 600;
}

@media only screen and (max-width: 1000px) {
  .card {
    width: 96%;
  }
}
