.data-card {
    flex-direction: column;
    justify-content: space-around;
    width: 10rem;
    height: 30vh;
    border: 0.1rem solid var(--primary);
    border-radius: 10px;
}

.data-number {
    font-size: 3rem;    
}

.card-desc {
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {
    .data-card {
        width: 16rem;
    }

    .card-desc {
        font-size: 1.5rem;
    }

    .desc-unity{
        font-size: 2.5rem;
    }
}
