.main-container {
  background-color: var(--bg-color);
  font-family: "Inconsolata", monospace;
  color: var(--primary);
}

.search-div {
  height: 10rem;
}

.search {
  width: 45%;
  height: 2rem;
  padding-left: 1.5rem;
  background-color: var(--bg-color);
  color: var(--primary);
  outline: none;
  border: 0.1rem solid var(--primary);
  border-radius: 0.5rem;
}

.location {
  height: 3rem;
  font-weight: 600;
  font-size: 2rem;
}

.weather-resp {
  height: 15rem;
}

.temp-date {
}

.temperature {
  font-size: 11.25rem;
  display: flex;
}

.celsius {
  font-size: 5rem;
  margin-top: 1.8rem;
}

.date {
  font-size: 2.813rem;
  font-weight: 200;
}

.clouds {
  width: 17.313rem;
  height: auto;
}

.title {
  margin: 3rem;
}

.forecast {
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.data-title {
  margin: 0rem;
}

.data {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.data-1 {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
}

.data-2 {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
}


@media only screen and (max-width: 1000px) {
  .search {
    width: 60%;
  }

  .location {
    height: 3rem;
    font-weight: 600;
    font-size: 1.5rem;
  }

  .weather-resp {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .temp-date {
    width: 100%;
  }

  .temperature{
    font-size: 9rem;
  }

  .forecast {
    height: auto;
  }

  .date {
    width: 100%;
    font-size: 2rem;
  }

  .data-title {
    margin-top: 3rem; 
  }

  .data-1, .data-2 {
    flex-direction: column;
    gap: 2.5rem;
  }
}
