.light {
  --bg-color: #e8eae6;
  --primary: #7c9473;
}

.dark {
  --bg-color: #2C3333;
  --primary: #2666CF;
}

.main-container {
  background-color: var(--bg-color);
  font-family: 'Rajdhani', sans-serif;
  color: var(--primary);
}
.home {
  background-image: url(../Assets/background.png);
  height: 100vh;
}

.mode {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  padding-top: 1rem;
}

.mode-btn {
  border: none;
  background-color: transparent;
  margin: 5px;
  cursor: pointer;
}

.mode-btn img {
  width: 2rem;
  height: 2rem;
}

.search {
  width: 45%;
  height: 2rem;
  padding-left: 1.5rem;
  background-color: transparent;
  color: var(--bg-color);
  outline: none;
  border: 0.1rem solid var(--bg-color);
  border-radius: 0.5rem;
}

::placeholder{
  color: var(--bg-color);
  font-family: 'Rajdhani', sans-serif;;
  font-size: 0.9rem;
}

.location {
  height: 3rem;
  font-weight: 600;
  font-size: 2rem;
}

.weather {
  /* min-height: 23vh; */
}

.weather-resp {
  height: 15rem;
}


.temperature {
  font-size: 11.25rem;
  display: flex;
}

.celsius {
  font-size: 5rem;
  margin-top: 1.8rem;
}

.date {
  font-size: 2.813rem;
  font-weight: 200;
}

.clouds {
  width: 7rem;
  height: auto;
}

.title {
  margin: 3rem;
}

.forecast {
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.slide {
  display: flex;
}

.w-70 {
  width: 70%;
}

.data-title {
  margin: 0rem;
}

.data {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.data-1 {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
}

.data-2 {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
}

.leaflet-container {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 70%;
  height: 400px;
  display: flex;
  align-self: center;
}

.map-leaflet{
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .search {
    width: 60%;
  }

  .location {
    height: 3rem;
    font-weight: 600;
    font-size: 1.5rem;
  }

  .weather-resp {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .temp-date {
    width: 100%;
  }

  .temperature{
    font-size: 9rem;
  }

  .forecast {
    height: auto;
  }

  .date {
    width: 100%;
    font-size: 2rem;
  }

  .data-title {
    margin-top: 5rem; 
  }

  .data-1, .data-2 {
    flex-direction: column;
    gap: 2.5rem;
  }
}
