.light {
  --bg-color: #e8eae6;
  --primary: #7c9473;
}

.dark {
  --bg-color: #2c3333;
  --primary: #2666cf;
}

.main-container {
  background-color: var(--bg-color);
  font-family: "Rajdhani", sans-serif;
  color: var(--primary);
}
.home {
  background-image: url(../Assets/background.png);
  height: 100vh;
}

.home-cntnt {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 70%;
  margin-top: 2rem;
}

.weather-resp,
.lottie,
.icon {
  width: 30%;
  font-weight: 600;
}

.lottie {
  width: 30%;
}

.mode {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  padding-top: 1rem;
  width: auto;
}

img {
  /* background-color: var(--bg-color); */
  margin: 2px;
}

.btns {
  border: solid 2px var(--bg-color);
  border-radius: 20px;
}

.mode-btn {
  border: none;
  background-color: transparent;
  margin: 5px 5px 2px 5px;
  cursor: pointer;
}

.mode-btn img {
  width: 1.5rem;
  height: 1.5rem;
}

.search {
  width: 25%;
  height: 2rem;
  padding-left: 1.5rem;
  background-color: transparent;
  color: var(--bg-color);
  outline: none;
  border: 0.1rem solid var(--bg-color);
  border-radius: 0.5rem;
  background: url(../Assets/search.png) no-repeat scroll 7px 7px;
  padding-left: 2rem;
}

::placeholder {
  color: var(--bg-color);
  font-family: "Rajdhani", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
}

.location {
  height: 3rem;
  font-weight: 600;
  font-size: 2rem;
}

.weather-resp {
  /* height: 15rem; */
  color: var(--bg-color);
}

.temperature {
  font-size: 11.25rem;
  display: flex;
}

.celsius {
  font-size: 5rem;
  margin-top: 1.8rem;
}

.date {
  font-size: 2.813rem;
  font-weight: 200;
}
.icon {
  flex-direction: column;
}

.clouds {
  width: 7rem;
  height: auto;
}

.title {
  margin: 3rem;
}

.forecast {
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.slide {
  display: flex;
}

.w-70 {
  width: 70%;
}

.data-title {
  margin: 0rem;
}

.data {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 2rem;
}

.data-1 {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
}

.data-2 {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
}

.leaflet-container {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 70%;
  height: 400px;
  display: flex;
  align-self: center;
}

.map-leaflet {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .search {
    width: 60%;
  }

  .location {
    height: 3rem;
    font-weight: 600;
    font-size: 1.5rem;
  }

  .weather-resp {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .home-cntnt {
    flex-direction: column;
    height: auto;
    justify-content: center;
  }

  .temp-date {
    width: 100%;
  }

  .temperature {
    font-size: 9rem;
  }

  .forecast {
    height: auto;
  }

  .date {
    width: 100%;
    font-size: 2rem;
  }

  .data-title {
    margin-top: 5rem;
  }

  .data-1,
  .data-2 {
    flex-direction: column;
    gap: 2.5rem;
  }
}
